body {
	margin:0rem;

}


.App {
	background-repeat: no-repeat;
	background-size: cover;
	height:100vh;

	margin:0rem;

}



.App-link {
  color: #61dafb;
}
.header{
	padding-top:2.5em;
	padding-left:3.4375em;
	height:7rem;
	display:flex;
	align-items:center;
	justify-content:space-between;

}
.logo{
	padding-right:0;
}

.buttonscontrol{
	display:flex;
	justify-content:space-around;
	flex-direction:row;
	text-decoration: none;
	text-align:center;
	border:none;
	height:6rem;
	background: rgba(255, 255, 255, 0.04);
	backdrop-filter: blur(10rem);
}
.home, .destination, .crew, .technology{
	
	all: unset;
	background-color:rgba(234, 240, 246, 0);
	color: #FFFFFF;
	font-family: 'Barlow Condensed';
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.188rem;
	letter-spacing: 0.169rem;
	margin-left:3.125em;
}
.technology{
	margin-right:10.313em;
}
.home:hover {
	border-bottom: 0.188rem solid rgba(255,255,255, 0.5);
	bottom: 50%;

}
.technology:hover{
	border-bottom: 0.188rem solid rgba(255,255,255, 0.5);

}
.destination:hover{
	border-bottom: 0.188rem solid rgba(255,255,255, 0.5);
}
.crew:hover{
	border-bottom: 0.188rem solid rgba(255,255,255, 0.5);

}


.home:active {
	border-bottom: 0.188rem solid rgba(255,255,2555);
	bottom: 50%;

}
.technology:active{
	border-bottom: 0.188rem solid rgba(255,255,255);

}
.destination:active{
	border-bottom: 0.188rem solid rgba(255,255,255);
}
.crew:active{
	border-bottom: 0.188rem solid rgba(255,255,255);

}


.technology{
	argin-right: 9em;
}

.home{
	margin-left:6.78em;
}

.textandexplore {
	display:flex;
	justify-content:space-between;
	margin-top:15.688em;
	width:90%;
}
.text{
	margin-left:10.313em;

	width:28.125em;
}
.text1 {
	font-family: 'Barlow Condensed';
	font-style: normal;
	font-weight: 400;
	font-size: 1.75rem;
	line-height: 2.125rem;
	color: #D0D6F9;
	letter-spacing: 0.295rem;
	margin:0;

}
.space {
	margin:0;
	font-family: 'Bellefair';
	font-style: normal;
	font-weight: 400;
	font-size: 9.375rem;
	color: #FFFFFF;
}

.parag{
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 2rem;
	color: #D0D6F9;
	height: 8rem;
}
.explore{
	border-radius:50%;
	width:17.125rem;
	height:17.125rem;
	font-family: 'Bellefair';
	font-style: normal;
	font-weight: 400;
	font-size: 2rem;
	line-height: 2.313rem;

	letter-spacing: 0.125rem;

	color: #0B0D17;
}

.explore:hover{
	padding:12.5em;
}

button.circle-hover {
  position: relative;
  width: 15.625rem;
  height: 15.625rem;
  background-color: #FFF;
  color: #000;
  cursor: pointer;
  border-radius: 100%;
  border: 0.063rem solid #FFF;
  outline: none;
  margin: 3.125em;
}

button.circle-hover::before {
  content: ' ';
  background-color: rgba(250,250,250, 0.1);
  border-radius: 100%;
  position: absolute;
}

button.circle-hover:hover::before {
  top: -5.5rem;
  left: -5.5rem;
  bottom: -5.5rem;
  right: -5.5rem;
}

.pickdest{

	font-family: 'Barlow Condensed';
	font-style: normal;
	font-weight: 400;
	font-size:  1.75rem;
	line-height: 2.125rem;
	/* identical to box height */

	letter-spacing: 0.295rem;
	text-transform: uppercase;

	color: #FFFFFF;
	padding-left:10em;
}
.bottomPart{
	display:flex;
	flex-direction:row;
	padding-top:4em;
	justify-content:space-around;
	
}
.planetbuttons button{
	all:unset;
	font-family: 'Barlow Condensed';
	font-style: normal;
	font-size: 1.125rem;
	line-height: 1.188rem;
	text-decoration:none;
	display: inline-block;
	text-align:center;
	border:none;
	margin-right:2.063em;
	padding-bottom:0.938em;
	color: #FFFFFF;
}

.moont {
		border-bottom: 0.188rem solid rgba(255,255,255, 0);
}
button.marst{
	border-bottom:0.188rem solid rgba(255,255,255, 0);

}
button.europat{
	border-bottom:0.188rem solid rgba(255,255,255, 0);

}
button.titant {
	border-bottom:0.188rem solid rgba(255,255,255, 0);

}
.moont:hover{
		border-bottom: 0.188rem solid rgba(255,255,255, 0.5);
}
.marst:hover{
	border-bottom: 0.188rem solid rgba(255,255,255, 0.5);

}
.europat:hover{
	border-bottom:0.188rem solid rgba(255,255,255, 0.5);

}
.titant:hover{
	border-bottom: 0.188rem solid rgba(255,255,255, 0.5);

}

.moonb{
	font-family: 'Bellefair';
	font-style: normal;
	margin: 0;
	font-size: 6.25rem;
	line-height: 7.188rem;
	/* identical to box height */
	margin-top:0.117em;
	color: #FFFFFF;
}

.moonpara{
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 2rem;
	/* or 178% */
	padding-bottom:3.375em;
	margin:0rem;
	width:27.75rem;
	color: #D0D6F9;
}

.lastparamoon{

	font-family: 'Barlow';
	font-style: normal;
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 2rem;
	/* or 178% */

	padding-top: 1.75em;

	color: #D0D6F9;
}

.lastparamoonb{

	font-family: 'Barlow';
	font-style: normal;
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 2rem;
	/* or 178% */

	color: #D0D6F9;
}
.distnumbers{

	font-family: 'Bellefair';
	font-style: normal;
	font-weight: 400;
	font-size: 1.75rem;
	line-height: 2rem;
	/* identical to box height */
	margin-right:80em;
	text-transform: uppercase;
	width:8.938rem;
	color: #FFFFFF;


}
.travel{
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 2rem;
	/* or 178% */
	padding-top: 1.75em;


	color: #D0D6F9;


}
.travelnumbers{

	font-family: 'Bellefair';
	font-style: normal;
	font-weight: 400;
	font-size: 1.75rem;
	line-height: 2rem;
	/* identical to box height */

	text-transform: uppercase;

	color: #FFFFFF;
}	


.moonpicture{
	width:28.125rem;
}

.insideDest body {
	background-image: url("./assets/destination/background-destination-desktop.jpg");
}

.bottomparagraph{
	display:grid;
	grid-template-columns: 5fr 4fr;
}

.bottomparagraph p{
	margin:0;
}

.linepara{
	border-top: 0.063rem solid ;
background: #383B4B;
}

.douglaspic{
	height:655px;
}
.markpic{
	margin-top:0.9em;
}

.anoushespic{
	margin-top:3.25em;
}
.victorpic{
	margin-top:0.6em;
}
.meetcrew{
	font-family: 'Barlow Condensed';
	font-style: normal;
	font-weight: 400;
	font-size: 1.75rem;
	line-height: 2.125rem;
	/* identical to box height */
	padding-left: 10.375em;
	letter-spacing: 0.295rem;
	text-transform: uppercase;
	color: #FFFFFF;
}
.meetcrewp{

	font-family: 'Barlow Condensed';
	font-style: normal;
	font-weight: 400;
	font-size: 1.75rem;
	line-height: 2.125rem;
	/* identical to box height */

	letter-spacing: 0.295rem;
	text-transform: uppercase;

	color: #FFFFFF;
}
.meetcrewnumber{
	font-family: 'Barlow Condensed';
	font-style: normal;
	font-weight: 700;
	font-size: 1.75rem;
	line-height: 2.125rem;
	/* identical to box height */

	letter-spacing: 0.295rem;

	color: #FFFFFF;

	mix-blend-mode: normal;
	opacity: 0.25;
}

.comm{
	font-family: 'Bellefair';
	font-style: normal;
	font-weight: 400;
	font-size: 2rem;
	line-height: 2.313rem;
	/* identical to box height */
	text-transform: uppercase;

	color: #FFFFFF;

	mix-blend-mode: normal;
	opacity: 0.5;
}

.comname{
	font-family: 'Bellefair';
	font-style: normal;
	font-weight: 400;
	font-size: 3.5rem;
	line-height: 4rem;
	text-transform: uppercase;

	padding-top:0.938em;
	padding-bottom:1.688em;
	color: #FFFFFF;
}

.compara{

	font-family: 'Barlow';
	font-style: normal;
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 2rem;
	/* or 178% */


	color: #D0D6F9;
}
.comm , .comname, .compara{
	margin:0;
}
.crewparag{
	width:30.5rem;
	padding-left:10.313em;
	float:left;
	padding-right:5.063em;	
	padding-top:9.625em;
}

.first,.second,.third,.fourth{
	border-radius:100%;
	width:0.938rem;
	height:0.938rem;
	padding:0;
	margin:0;
	border:0;
	background: #FFFFFF;
	opacity: 0.17;
	mix-blend-mode: normal;
	margin-right:1.1em;
}

.first:hover{
	background: #FFFFFF;
opacity:0.91;
}
.second:hover{
	background: #FFFFFF;
	opacity:0.91;
	
}
.third:hover{
	background: #FFFFFF;
	opacity:0.91;
}
.fourth:hover{
	background: #FFFFFF;
	opacity: 0.91;
}
.crewbuttons{
	width:8.25rem;
	position:fixed;
	right:0;
	left:0;
	top:0;
	z-index:999;
	margin-top:49.438em;
	margin-left:10.438em;
}
.douglos{
	display:inline;
}



.technum{
	font-family: 'Barlow Condensed';
	font-style: normal;
	font-weight: 700;
	font-size: 1.75rem;
	line-height: 2.125rem;
	/* identical to box height */

	letter-spacing: 0.295rem;

	color: #FFFFFF;

	mix-blend-mode: normal;
	opacity: 0.25;
}
.spacelaunch{
	font-family: 'Barlow Condensed';
	font-style: normal;
	font-weight: 400;
	font-size: 1.75rem;
	line-height: 2.125rem;
	/* identical to box height */

	letter-spacing: 0.295rem;

	color: #FFFFFF;
}

.terminology{
	font-family: 'Barlow Condensed';
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.188rem;
	letter-spacing: 0.169rem;

	color: #D0D6F9;
}

.launch{
	font-family: 'Bellefair';
	font-style: normal;
	font-weight: 400;
	font-size: 3.5rem;
	line-height: 4rem;
	color: #FFFFFF;
	margin:0;
}
.launchdiv{
	display:flex;
	flex-direction:row;
	padding-left:5em;
}
.techpara{

	font-family: 'Barlow';
	font-style: normal;
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 2rem;
	/* or 178% */

	margin-top:1.1em;

	color: #D0D6F9;
}


.techparag{
	width:29.375rem;
	margin-right:8em;
}
.sentencestart{
	margin-left:10.413em;
	margin-bottom:8.563em;
}
.circleone , .circletwo, .circlethree{
	all:unset;
	width: 5rem;
	height: 5rem;
	border-radius:50%;
	font-family: 'Bellefair';
	font-style: normal;
	font-weight: 400;
	font-size: 2rem;
	line-height: 2.313rem;
	/* identical to box height */
	border: 0.063rem  solid #FFFFFF;
	text-align: center;
	letter-spacing: 0.125rem;
	mix-blend-mode: normal;
	opacity: 0.25;
	color: #FFFFFF;
	margin-bottom:2em;
}

.circleone:hover{
	background-color:white;
	opacity: 1;
	color:black;
}
.circletwo:hover{
	background-color:white;
	opacity: 1;
	color:black;
}
.circlethree:hover{
	background-color:white;
	opacity: 1;
	color:black;
}
.techbottom{
	display:flex;
}
.techbuttons{
	display:flex;
	flex-direction: column;
	padding-left:10.313em;
}

.launchpic{
	width:32.188rem;
}

@media  screen and (max-width:768px){
	.app{
		background-repeat: no-repeat;
		background-size: cover;
		margin:0rem;
		max-width:768px;

	}
	.textandexplore{
		flex-direction:column;
		margin-top:6.625em;
		margin-left:9.938em;
		width:50%;
	}
	.text{
		margin-left:0em;
		text-align:center;
	}
	.text1{
		font-family: 'Barlow Condensed';
		font-style: normal;
		font-size: 20px;
		line-height: 24px;
		/* identical to box height */

		text-align: center;
		letter-spacing: 3.375px;

		color: #D0D6F9;
	
	}
	.header{
		padding-left:2.438em;
		padding-top:0;
		height:6rem;
	}
	.home, .crew, .destination , .technology{
		margin:0;
	}
	button.circle-hover{
		margin-left:6.5em;
		margin-top:7.188em;
	}
	.homeE{
		background-image: url('assets/home/background-home-tablet.jpg');
		height:100vh;	
		margin:0rem;

	}
	.crewE{
		background-image: url('assets/crew/background-crew-tablet.jpg');
	}
	.destinationE{
		background-image: url('assets/destination/background-destination-tablet.jpg');
	}
	.techE{
		background-image: url('assets/technology/background-technology-tablet.jpg');
	}
	.buttonscontrol{
		width:65%
	}
	.bottomPart{
		flex-direction:column;
		
	}
	.moonpicture{
		width:18.75em;
		margin-left:30%;
		margin-bottom:10%;
	}
	
	.pickdest{
		padding-left:1.2em;
		font-size:1.25em;
	}
	.planets{
		margin-left:20%;
	}
	.planetbuttons{
		margin-left:16%;
	}
	.moonb{
		font-size:5em;
		margin-left:15%;
		margin-right:0;
	}
	.moonpara{
		text-align:center;
		font-size:1em;
		width:90%;
	}
	.linepara{
		width:90%;
		border:1px solid;
	}
	.bottomPart{
		padding-top:3.75em;
	}
	.crewparag{
		padding:0;
		margin-top:2.55em;
		margin-left:18%;
		text-align:center;
	}
	.comname{
		font-size:2.5em;
		padding:0;
		margin-top:.5em;
		margin-bottom:1em;
	}
	.meetcrew{
		font-size:1.25em;
		padding:0;
		margin-left:-60%;
	}
	.meetcrewnumber{
		font-size:1.25em;
	}
	.meetcrewp{
		font-size:1.25rem;
	}
	.comm{
		font-size:1.5em;
	}
	.crewd{
		text-align:center;
	}
	.douglaspic, .markpic,  .anoushespic{
		height:45vh;
		margin-top:8%;
	}
	.victorpic{
		height:44vh;
		margin-top:5%;
	}
	.crewbuttons{
		margin-left:18.25rem;
		margin-top:31.625rem;
	
	}
}
