body {
	margin:0px;

}


.App {
	background-repeat: no-repeat;
	background-size: cover;
	height:100vh;
	margin:0px;

}



.App-link {
  color: #61dafb;
}
.header{
	padding-top:2.5rem;
	padding-left:3.4375rem;
	height:7rem;
	display:flex;
	align-items:center;

}
.logo{
	padding-right:31.6rem;
}

.buttonscontrol{
	display:flex;
	justify-content:space-around;
	flex-direction:row;
	text-decoration: none;
	text-align:center;
	border:none;
	height:6rem;
	width:51.875rem;
	background: rgba(255, 255, 255, 0.04);
	backdrop-filter: blur(10px);
}
.home, .destination, .crew, .technology{
	
	all: unset;
	background-color:rgba(234, 240, 246, 0);
	color: #FFFFFF;
	font-family: 'Barlow Condensed';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 2.7px;
}
.home:hover {
	border-bottom: 3px solid rgba(255,255,255, 0.5);
	bottom: 50%;

}
.technology:hover{
	border-bottom: 3px solid rgba(255,255,255, 0.5);

}
.destination:hover{
	border-bottom: 3px solid rgba(255,255,255, 0.5);
}
.crew:hover{
	border-bottom: 3px solid rgba(255,255,255, 0.5);

}


.home:active {
	border-bottom: 3px solid rgba(255,255,2555);
	bottom: 50%;

}
.technology:active{
	border-bottom: 3px solid rgba(255,255,255);

}
.destination:active{
	border-bottom: 3px solid rgba(255,255,255);
}
.crew:active{
	border-bottom: 3px solid rgba(255,255,255);

}


.technology{
	margin-right: 9rem;
}

.home{
	margin-left:6.78rem;
}

.textandexplore {
	display:flex;
	justify-content:center;
	margin-top:251px;
}
.text{
	margin-right:386px;

	width:450px
}
.text1 {
	font-family: 'Barlow Condensed';
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 34px;
	color: #D0D6F9;
	letter-spacing: 4.725px;
	margin:0;

}
.space {
	margin:0;
	font-family: 'Bellefair';
	font-style: normal;
	font-weight: 400;
	font-size: 150px;
	color: #FFFFFF;
}

.parag{
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	color: #D0D6F9;
	height: 128px;
}
.explore{
	border-radius:50%;
	width:274px;
	height:274px;
	font-family: 'Bellefair';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 37px;

	letter-spacing: 2px;

	color: #0B0D17;
}

.explore:hover{
	padding:200px;
}

button.circle-hover {
  position: relative;
  width: 250px;
  height: 250px;
  background-color: #FFF;
  color: #000;
  cursor: pointer;
  border-radius: 100%;
  border: 1px solid #FFF;
  outline: none;
  margin: 50px;
}

button.circle-hover::before {
  content: ' ';
  background-color: rgba(250,250,250, 0.1);
  border-radius: 100%;
  position: absolute;
}

button.circle-hover:hover::before {
  top: -88px;
  left: -88px;
  bottom: -88px;
  right: -88px;
}

.pickdest{

	font-family: 'Barlow Condensed';
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 34px;
	/* identical to box height */

	letter-spacing: 4.725px;
	text-transform: uppercase;

	color: #FFFFFF;
	padding-left:10rem;
}
.bottomPart{
	display:flex;
	flex-direction:row;
	padding-left:230px;
	padding-top:64px;
	
}
.planetbuttons button{
	all:unset;
	font-family: 'Barlow Condensed';
	font-style: normal;
	font-size: 18px;
	line-height: 19px;
	text-decoration:none;
	display: inline-block;
	text-align:center;
	border:none;
	margin-right:33px;
	padding-bottom:15px;
	color: #FFFFFF;
}
.planetbuttons{
	width:300px;
}
.moont {
		border-bottom: 3px solid rgba(255,255,255, 0);
}
button.marst{
	border-bottom: 3px solid rgba(255,255,255, 0);

}
button.europat{
	border-bottom: 3px solid rgba(255,255,255, 0);

}
button.titant {
	border-bottom: 3px solid rgba(255,255,255, 0);

}
.moont:hover{
		border-bottom: 3px solid rgba(255,255,255, 0.5);
}
.marst:hover{
	border-bottom: 3px solid rgba(255,255,255, 0.5);

}
.europat:hover{
	border-bottom: 3px solid rgba(255,255,255, 0.5);

}
.titant:hover{
	border-bottom: 3px solid rgba(255,255,255, 0.5);

}

.moonb{
	font-family: 'Bellefair';
	font-style: normal;
	margin: 0;
	font-size: 100px;
	line-height: 115px;
	/* identical to box height */
	width:333px;
	margin-top:30px;
	color: #FFFFFF;
}

.moonpara{
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	/* or 178% */
	padding-bottom:54px;
	margin:0px;
	width:444px;
	color: #D0D6F9;
}

.lastparamoon{

	font-family: 'Barlow';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	/* or 178% */

	padding-top: 28px;

	color: #D0D6F9;
}

.lastparamoonb{

	font-family: 'Barlow';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	/* or 178% */

	color: #D0D6F9;
}
.distnumbers{

	font-family: 'Bellefair';
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 32px;
	/* identical to box height */
	margin-right:80px;
	text-transform: uppercase;
	width:143px;
	color: #FFFFFF;


}
.travel{
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	/* or 178% */
	padding-top: 28px;


	color: #D0D6F9;


}
.travelnumbers{

	font-family: 'Bellefair';
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 32px;
	/* identical to box height */

	text-transform: uppercase;

	color: #FFFFFF;
}	
.buttonDetails{
	width: 445px;
	height: 472px;
}

.moonpicture{
	width:450px;
	padding-right:157px;
}

.insideDest body {
	background-image: url("./assets/destination/background-destination-desktop.jpg");
}

.bottomparagraph{
	display:grid;
	grid-template-columns: 5fr 4fr;
	width:344px;
}

.bottomparagraph p{
	margin:0;
}

.linepara{
	border-top: 1px solid ;
background: #383B4B;
}



.meetcrew{
	font-family: 'Barlow Condensed';
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 34px;
	/* identical to box height */
	padding-left: 166px;
	letter-spacing: 4.725px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.meetcrewp{

	font-family: 'Barlow Condensed';
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 34px;
	/* identical to box height */

	letter-spacing: 4.725px;
	text-transform: uppercase;

	color: #FFFFFF;
}
.meetcrewnumber{
	font-family: 'Barlow Condensed';
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: 34px;
	/* identical to box height */

	letter-spacing: 4.725px;

	color: #FFFFFF;

	mix-blend-mode: normal;
	opacity: 0.25;
}

.comm{
	font-family: 'Bellefair';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 37px;
	/* identical to box height */
	text-transform: uppercase;

	color: #FFFFFF;

	mix-blend-mode: normal;
	opacity: 0.5;
}

.comname{
	font-family: 'Bellefair';
	font-style: normal;
	font-weight: 400;
	font-size: 56px;
	line-height: 64px;
	text-transform: uppercase;

	padding-top:15px;
	padding-bottom:27px;
	color: #FFFFFF;
}

.compara{

	font-family: 'Barlow';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	/* or 178% */


	color: #D0D6F9;
}
.comm , .comname, .compara{
	margin:0;
}
.crewparag{
	width:488px;
	padding-left:165px;
	float:left;
	padding-right:81px;	
	padding-top:154px;
}

.first,.second,.third,.fourth{
	border-radius:100%;
	width:15px;
	height:15px;
	padding:0;
	margin:0;
	border:0;
	background: #FFFFFF;
	opacity: 0.17;
	mix-blend-mode: normal;
}

.first:hover{
	background: #FFFFFF;
opacity:0.91;
}
.second:hover{
	background: #FFFFFF;
	opacity:0.91;
	
}
.third:hover{
	background: #FFFFFF;
	opacity:0.91;
}
.fourth:hover{
	background: #FFFFFF;
	opacity: 0.91;
}
.crewbuttons{
	width:132px;
	display:contents;
	height:15px;
}
.douglos{
	display:inline;
}



.technum{
	font-family: 'Barlow Condensed';
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: 34px;
	/* identical to box height */

	letter-spacing: 4.725px;

	color: #FFFFFF;

	mix-blend-mode: normal;
	opacity: 0.25;
}
.spacelaunch{
	font-family: 'Barlow Condensed';
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 34px;
	/* identical to box height */

	letter-spacing: 4.725px;

	color: #FFFFFF;
}

.terminology{
	font-family: 'Barlow Condensed';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 2.7px;

	color: #D0D6F9;
}

.launch{
	font-family: 'Bellefair';
	font-style: normal;
	font-weight: 400;
	font-size: 56px;
	line-height: 64px;
	color: #FFFFFF;
}
.launchdiv{
	display:flex;
	flex-direction:row;
	padding-left:80px;
}
.techpara{

	font-family: 'Barlow';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	/* or 178% */


	color: #D0D6F9;
}


.techparag{
	width:470px;
}

.circleone , .circletwo, .circlethree{
	all:unset;
	width: 80px;
	height: 80px;
	border-radius:50%;
	font-family: 'Bellefair';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 37px;
	/* identical to box height */
	border: 1px  solid #FFFFFF;
	text-align: center;
	letter-spacing: 2px;
	mix-blend-mode: normal;
	opacity: 0.25;
	color: #FFFFFF;
}

.circleone:hover{
	background-color:white;
	opacity: 1;
	color:black;
}
.circletwo:hover{
	background-color:white;
	opacity: 1;
	color:black;
}
.circlethree:hover{
	background-color:white;
	opacity: 1;
	color:black;
}
.techbottom{
	display:flex;
}
.techbuttons{
	display:flex;
	flex-direction: column;
	justify-content:space-between;
	padding-left:165px;
}

@media  screen and (max-width:768px){
	.app{
		background-repeat: no-repeat;
		background-size: cover;
		margin:0px;

	}
	.textandexplore{
		flex-direction:column;
	}
	.homeE{
		background-image: url('assets/home/background-home-tablet.jpg');
		color:black;
	}
	.crewE{
		background-image: url('assets/crew/background-crew-tablet.jpg');
	}
	.destinationE{
		background-image: url('assets/destination/background-destination-tablet.jpg');
	}
	.techE{
		background-image: url('assets/technology/background-technology-tablet.jpg');
	}
}
